@import '../../app.scss';

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    // position: relative;
    // width: 50px;
    .bg{
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 400px;
        background: white;
        @include mobile{
            width: 200px;
        }

        .links{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            a{
                font-size: 40px;
                @include mobile{
                    font-size: 200px;
                }
            }
        }
        
    }
    .button{
        margin-top: 12px;
        margin-left: 12px;
        z-index: 2;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: fixed;
        color: red;
        display: flex;
        // align-items: end;
        // background-color: green;
        top: 25px;
        left: 25px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}