*{
  scroll-behavior: smooth;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/assets/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.left {
  width: 3px;
  height: 80%;
  background: white;
  /* position: relative; */
  transition: width 2s;
}

.left:hover {
  width: 50%;
  /* height: 80%; */
}